<!-- index.hbs -->
<body>
    <header>
        <h1>
            Bookends Database
        </h1>
        <p>
            Bookends is a database driven website that will help avid book lovers everywhere track their
            favorite reads. Users can search the vast collection of books and log them to their digital library.
            Within this library, users will be able to view their personal reviews, read dates, and ratings
            scored 1-5 stars for each book. Tracking recent reads will allow users to manage their book
            collection and stay on top of their reading goals.
        </p>
    </header>
        <main>
        <section>
            <h2>Click a link to view or update the database</h2>
            <ul>
                <li><a href="/books">Books</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </section>
    </main>
</body>